@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcBlog.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    @foreach (var item in Model)
    {
        <article class="col-sm-8">
            <h2>
                <a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a>
            </h2>
            <p class="lead">
                <span><img class="img-circle img-responsive" width="70" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" /></span>
                <a href="/Uye/UyeProfil/@item.Uye.UyeId">@item.Uye.KullaniciAdi</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span>@String.Format("{0: MMMM yyyy}", item.Tarih)</p>
            <p>

                <span class="glyphicon glyphicon-tags"></span>
            </p>
            <hr>
            <img class="img-responsive" src="@item.Foto" alt="@item.Baslik" />@item.Etiket
            <hr>

            @if (item.Icerik.Length > 150)
            {
                <p>@Html.Raw(item.Icerik.Substring(0, 150))...</p>
            }
            else
            {
                <p>@Html.Raw(item.Icerik)...</p>
            }


            <a class="btn btn-primary" href="/Home/MakaleDetay/@item.MakaleId">Devamını Oku<span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
        </article>
    }

    <div class="row">
        <div class="col-md-8 text-center" >     
            <div class="pagedList pagination-lg">
                @Html.PagedListPager(Model,Page=>Url.Action("Index",new { Page }),PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>

</div>

